@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  a {
    @apply underline text-blue-500 hover:text-blue-700;
  }

  th {
    @apply font-semibold;
  }
}

/* Nav bar */
.nav-hero {
  @apply w-full p-8 bg-gray-900 text-2xl font-semibold tracking-widest text-white text-center uppercase rounded-lg select-none;
}

.nav-btn {
  @apply w-full text-gray-300 text-left px-4 py-3 rounded-md text-lg font-medium inline-flex items-center;
}

.nav-btn:hover {
  @apply bg-gray-700 text-white;
}

.nav-btn.active {
  @apply bg-gray-700 text-white;
}

.nav-btn svg {
  @apply h-6 w-6 mr-2;
}

/* main */
main {
  @apply bg-gray-600 w-full h-full p-6 antialiased;
}

.card {
  @apply rounded-xl bg-white overflow-hidden shadow-lg;
}

.card .card-title {
  @apply bg-gray-800 text-white w-full font-semibold;
}

.card .card-title h1 {
  @apply px-6 py-4 font-semibold;
}

.card .card-title .back-button {
  margin: 8px;
  width: 48px;
  height: 48px;
}

.card .card-title .back-button svg {
  @apply mx-auto;
}

.card .card-body {
  @apply px-6 py-4;
}

/* Dashboard */
table.dashboard {
  @apply border-collapse;
  margin-right: 128px;
}

table.dashboard th.rotate {
  height: 128px;
  white-space: nowrap;
  @apply align-bottom;
}

table.dashboard th.rotate > div {
  transform: translate(42px, 1px) rotate(-45deg);
  transform-origin: bottom left;
  width: 40px;
}

table.dashboard th.rotate > div > span {
  @apply inline-block border-b border-gray-300 text-left pb-1;
  width: 180px;
}

table.dashboard td.team {
  @apply text-right py-2 pr-2 pl-8;
}

table.dashboard td.cell {
  @apply text-center align-middle;
}

table.dashboard td.cell span {
  /* spinner */
  @apply block mx-auto;
}

table.dashboard td.cell svg {
  /* icons */
  @apply mx-auto;
}

table.dashboard tbody tr:nth-child(even) {
  @apply bg-gray-100;
}

table.dashboard td.cell.okay {
  @apply bg-green-100;
}

table.dashboard tbody tr:nth-child(even) td.cell.okay {
  @apply bg-green-200;
}

table.dashboard td.cell.fail {
  @apply bg-red-100;
}

table.dashboard tbody tr:nth-child(even) td.cell.fail {
  @apply bg-red-200;
}

/* RoundDisplay */
.round-display h1 {
  @apply text-2xl font-semibold mb-2;
}

.round-display p {
  @apply text-base font-normal leading-tight;
}

/* Data Table */
table.data thead {
  @apply bg-gray-200 text-gray-700;
}

table.data th {
  @apply px-3 py-2;
}

table.data td {
  @apply px-3 py-2;
}

table.data tbody tr {
  @apply border-b border-gray-200;
}

table.data tbody tr:nth-child(even) {
  @apply bg-gray-50;
}

table.data tbody tr:hover {
  @apply bg-gray-100;
}

/* TaskDetail */
.task-detail .header {
  @apply text-xl font-semibold border-b mt-4 mb-2;
}

.task-detail span.label {
  @apply inline-block font-semibold w-16 mr-2 text-right;
}

.task-detail small {
  @apply text-gray-600 ml-2;
}
