@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply underline text-blue-600 hover:text-blue-800;
  }
}

.nav-hero {
  @apply w-full p-8 bg-gray-900 text-2xl font-semibold tracking-widest text-white text-center uppercase rounded-lg select-none;
}

.nav-btn {
  @apply block w-full text-gray-300 text-left px-4 py-3 rounded-md text-lg font-medium inline-flex items-center;
}

.nav-btn:hover {
  @apply bg-gray-700 text-white;
}

.nav-btn.active {
  @apply bg-gray-700 text-white;
}

.nav-btn svg {
  @apply h-6 w-6 mr-2;
}

table.dashboard {
  @apply border-collapse;
}

table.dashboard th.rotate {
  height: 128px;
  white-space: nowrap;
  @apply align-bottom;
}

table.dashboard th.rotate > div {
  transform: translate(42px, 1px) rotate(-45deg);
  transform-origin: bottom left;
  width: 40px;
}

table.dashboard th.rotate > div > span {
  @apply inline-block border-b text-left font-semibold pb-1;
  width: 180px;
}

table.dashboard td.team {
  @apply text-right border-t border-b p-2;
}

table.dashboard td.cell {
  @apply text-center border;
}

table.dashboard tr:nth-child(even) {
  @apply bg-gray-100;
}
